.playerJump {
  animation-name: Jump;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.cityActive,
.cloudsActive,
.carActive {
  animation: objectAnimation linear infinite;
}
.cityActive {
  animation-duration: 15s;
  animation-delay: 2s;
}
.cloudsActive {
  animation-duration: 25s;
  animation-delay: 5s;
}
.carActive {
  animation-duration: 3s;
  animation-delay: 3s;
}

@keyframes objectAnimation {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@keyframes Jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 40%;
  }
  /* 75% {
    bottom: 40%;
  } */
  100% {
    bottom: 0;
  }
}
