* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body,
html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
}

/* Game Window & Components*/

@font-face {
  font-family: pusab;
  src: url(../fonts/8-bit-pusab.ttf);
}
.game-window {
  min-height: 500px;
  width: 800px;
  max-width: 85vw;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to bottom,
    #3d1c51,
    #7e397c,
    #8848b4,
    #9c91cd,
    #d7798b
  );
  border: solid 2px black;
  border-bottom-width: 10px;
}
.game-window img {
  position: absolute;
  object-fit: contain;
}
#city,
#car {
  bottom: 0;
  left: 100%;
}
#city{
  height: 100%;
}
#clouds {
  top: 0;
  height: 300px;
  left: 100%;
}
#player {
  height: 100px;
  left: 5%;
  bottom: 0;
}
#car,
#player {
  height: 20%;
}
#gameOver {
  font-size: 3rem;
  color: blue;
  animation: GameOver 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 1000;
  text-align: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100%;
  place-content: center;
  display: none;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
}
#gameOver>p{
  font-family: pusab;
}
#restart{
  padding: 10px 20px;
  border: solid 1.5px #fff;
  border-radius: 10px;
  font-size: medium;
  margin-top: 20px;
  width: fit-content;
  color: #ffff;
  background-color: #fd3232;
  cursor: pointer;
  transition: .5s;
  text-transform: uppercase;
  font-family: pusab;
}
#restart:hover{
  transform: scale(1.1);
  color: red;
  background-color: #fff;
  border: solid 2px #fd3232;
}
@keyframes GameOver {
  from {
    color: #1f81a1;
  }
  to {
    color: red;
  }
}

/* Menu */

.select-character > h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.game-name {
  font-family: pusab, sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0 0 15px black;
}
#main-menu {
  text-align: center;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  justify-items: center;
  background: url(../images/background1.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}
#start-game {
  background: none;
  border: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: pusab, sans-serif;
  color: #fff;
  transition: 0.5s;
}
#start-game:hover,
.credits:hover {
  color: #1f81a1;
  text-shadow: 0 0 15px black;
}
.credits {
  text-decoration: none;
  color: #fff;
  font-family: pusab, sans-serif;
}

/* Character Selector */

@font-face {
  font-family: bitanco;
  src: url(../fonts/8-bitanco.ttf);
}
.select-character {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: grid;
  place-content: center;
  background: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.select-character > h1 {
  color: #ffff;
  font-family: bitanco, sans-serif;
  font-size: 2rem;
}
#characters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.character-box {
  width: 100px;
  height: 120px;
  position: relative;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #f1f1f183;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.character-box:hover {
  transform: scale(1.05);
  background-color: #fff;
}
.character-box > img {
  width: 95%;
}
.character-box > p {
  position: absolute;
  bottom: 3%;
  color: black;
}

#jumpButton {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  background-color: rgb(182, 181, 181);
  border: solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 3;
  cursor: pointer;
  opacity: 60%;
}
#jumpButton > img {
  object-fit: contain;
  width: 90%;
  opacity: 50%;
}
