@media (max-width: 900px) {
  /* body {
    background-color: black;
  } */
  body>.game-window{
    border:none;
    /* object-fit: contain; */
  }
  .game-name {
    font-size: x-large;
  }
  #gameOver p {
    font-size: x-large;
  }
  #restart {
    font-size: 1rem;
  }
  #car {
    animation-duration: 1s;
  }
}
@media (max-height: 550px) {
  .game-window {
    height: 100vh;
  }
}
