@media (max-width: 900px) {
  body>.game-window{
    border:none;
    /* object-fit: contain; */
  }
  .game-name {
    font-size: x-large;
  }
  #gameOver p {
    font-size: x-large;
  }
  #restart {
    font-size: 1rem;
  }
}
